<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name="com.eric.core.ManageActivity"
            tools:node="remove"/>
        <activity android:name="com.eric.core.SlideShowActivity"
            tools:node="remove"/>
        <activity android:name="com.eric.core.GalleryActivity"
            tools:node="remove"/>
        <activity android:name="com.eric.customization.FlavorCGalleryActivity"
            android:label="@string/txt_gallery"/>
    </application>

</manifest>
